AUTH_TOKEN=CHANGE_ME_WITH_A_LONG_RANDOM_VALUE
AUTH_MODE=token_or_jwt
AUTH_SCOPE=all
JWT_SECRET=CHANGE_ME_WITH_A_LONG_SHARED_SECRET
JWT_ISSUER=https://issuer.local.example/
PREDICT_JWT_AUDIENCE=spotify-predict
TASTE_OS_JWT_AUDIENCE=spotify-taste-os
PREDICT_JWT_REQUIRED_SCOPES=predict:write
TASTE_OS_JWT_REQUIRED_SCOPES=taste-os:write
POSTGRES_DB=spotify
POSTGRES_USER=spotify_user
POSTGRES_PASSWORD=CHANGE_ME_WITH_A_LONG_DATABASE_PASSWORD
REDIS_URL=redis://redis:6379/0
